@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
}
html {
    scroll-behavior: smooth;
}
.purple {
    color: #6415ff;
}
a {
    text-decoration: none;
}
.no-cursor {
    cursor: not-allowed;
}
button {
    border: solid #6415ff;
    background-color: #6415ff;
    color: white;
    font-size: 14px;
    border-radius: 9999999px;
    padding: 12px 32px;
    margin: 0;
    font-weight: 600;
}
button:hover {
    background-color: #3b0d97;
    border-color: #3b0d97;
    transition: all ease 300ms;
}
.root {
    padding: 32px;
    max-width: 100%;
}
.subtitle {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 16px;
}
p {
    color: #243E63;
}
/*Nav Bar*/
.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
.logo {
    height: 40px;
    margin: 0 12px 0 0;
}
.logo__container {
    display: flex;
    align-items: center;
    padding: 0 0 4px 0;
    margin: 8px 0;
}
.logo__container a:hover {
    color: #6415ff;
    transition: all ease 300ms;
}
.logo__text {
    font-size: 24px;
    font-weight: 900;
    color: #243E63;
}
.nav__links {
    display: flex;
    align-items: center;
    font-weight: bold;
    display: none;
}
.nav__link {
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
}
.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
    transition: all ease 200ms;
}
.nav__link--login {
    margin: 0 24px 0 48px;
}
.btn__menu {
    font-size: 24px;
}
/*Header*/
.header__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
}
.header__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 28px;
}
.header__desc {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.25;
}
.header__para p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
}
.email__in {
    display: flex;
    flex-direction: column;
}
input {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    border: solid rgba(0, 0, 0, 0.233);
    border-width: 2px;
    border-radius: 9999px;
    font-weight: 500;
    opacity: 0.5;
    font-size: 100%;
}
.btn__start {
    padding: 16px;
    margin: 16px 8px 0 16px;
}
.companies {
    margin-top: 48px;
}
.companies p {
    font-size: 14px;
    color: #a0aec0;
    font-weight: 700;
}
.companies__img {
    margin-top: 16px;
}
.header__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}
.header__img img {
    width: 512px;
    height: 100%;
}
@media (min-width: 1024px) {
    .btn__menu {
        display: none;
    }
    .nav__links {
        display: block;
    }
    .header__container {
        display: flex;
        flex-direction: row;
        padding: 96px 0;
        height: 730px;
        margin: 0;
    }
    .header__left {
        margin-left: 0;
        width: 75%;
        margin: 0;
    }
    .header__desc {
        font-size: 48px;
        text-align: left; 
    }
    .header__para p{
        font-size: 18px;
        text-align: left;
        line-height: 1.25;
    }
    .email__in {
        position: relative;
    }
    input {
        padding-right: 90px;
        width: 85%;
    }
    .btn__start {
        position: absolute;
        right: 80px;
        bottom: 5px;
        padding: 16px;
        width: 30%;
    }
    .companies p {
        font-size: 12px;
        text-align: left;
    }
    .companies {
        margin-top: 80px;
    }
    .companies__img {
        margin-top: 16px;
        padding-right: 128px;
    }
    .header__img {
        width: 100%;
        height: 100%;
    }
    .header__img img {
        width: 100%;
        height: 100%;
    }
}
/*Features*/
.features__container {
    padding: 96px 0;
}
.features__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__header {
    color: #243E63;
    font-size: 36px;
    font-weight: 900;
}
.desc {
    font-size: 14px;
    color: #7c8ba1;
    margin-top: 16px;
    text-align: center;
    line-height: 1.5;
}
.services {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
    padding: 32px 8px 0px 8px;
}
.ind__service {
    display: flex;
    flex-direction: column;
    padding: 32px 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}
.service__img {
    flex-shrink: 0;
    height: 50%;
    border: 1px gray solid;
    border-radius: 9999px;
    padding: 20px;
}
.service__img img {
    width: 24px;
    height: 20px;
}
.ind__service--desc {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.ind__service--desc h2 {
    font-size: 24px;
    color: #243E63;
}
.ind__service--desc p {
    font-size: 16px;
    color: #7c8ba1;
    margin-top: 4px;
}
@media (min-width: 768px) {
    .features__container {
        margin: 0 auto;
        max-width: 1024px;
    }
    div.features__text p.subtitle {
        font-size: 16px;
    }
    .features__header {
        font-size: 48px;
    }
    .desc {
        font-size: 18px;
        width: 50%;
    }
    .services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 40px 0 0 0;
        width: 100%;
        margin: 0 0;
    }
    .ind__service {
        width: calc(100%/3);
        display: flex;
        flex-direction: row;
    }
    .ind__service--desc {
        text-align: left;
        margin-top: 8px;
        margin-left: 16px;
        width: 100%;
        line-height: 2;
    }
    .ind__service--desc p {
        margin-top: 16px;
        width: 100%;
    }
}
/*Quality*/
.quality__container {
    display: flex;
    flex-direction: column-reverse;
    padding: 80px 0;
}
.quality__left--column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 64px 0 64px;
}
.subtitle {
    text-align: center;
}
.quality__left--column h1 {
    font-size: 30px;
    color: #243E63;
    font-weight: 900;
    text-align: center;
}
.quality__left--column button {
    margin-top: 32px;
    width: 35%;
    font-size: 14px;
}
.right__column--quality {
    margin: 0 60px;
    display: flex;
    align-items: center;
}
.right__column--quality img {
    border: 1px solid rgb(226, 232, 240);
    border-radius: 4px;
}
@media (min-width: 768px) {
    .quality__container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 96px 0;
    }
    .quality__left--column {
        width: 50%;
        margin: 0;
        align-items: start;
    }
    .subtitle {
        text-align: left;
    }
    .quality__left--column h1 {
        text-align: left;
        font-size: 48px;
    }
    .desc {
        text-align: left;
        width: 100%;
    }
    .right__column--quality {
        margin: 0 0;
        width: 50%;
    }
}
/*Steps*/
.steps__container {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left__column--steps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 60px;
}
.steps__right--column {
    margin: 64px 60px 0 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.right__column--content h1 {
    font-size: 30px;
}
.ind__step {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.step__num {
    font-size: 36px;
    color: #cbd5e0;
    font-weight: 600;
}
.step__text {
    margin-top: 12px;
}
.step__title {
    font-size: 20px;
    color: #243E63;
    font-weight: 600;
}
.step__inst {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    line-height: 2;
    max-width: 320px;
}
@media (min-width: 768px) {
    .steps__container {
        display: flex;
        flex-direction: row;
    }
    .left__column--steps {
        width: 50%;
        margin: 0;
    }
    .steps__right--column {
        margin: 0 0 0 64px;
        width: 50%;
        display: flex;
        align-items: start;
        text-align: left;
    }
    .right__column--content h1{
        font-size: 48px;
        margin-top: 16px;
    }
    .ind__step {
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    .step__text {
        margin: 0 0 0 24px;
    }
}
/*Values*/
.values__container {
    display: flex;
    flex-direction: column-reverse;
    padding: 80px 0;
}
.right__column--values {
    margin: 0 60px;
}
.value__left--column {
    margin: 64px 64px 0 64px;
    text-align: center;
}
.value__left--column h1 {
    font-size: 30px;
    font-weight: 900;
    color: #243E63;
}
.para {
    margin-top: 32px;
    font-size: 14px;
    color: #7c8ba1;
    line-height: 1.625;
}
.values__double--column {
    margin: 0 64px;
}
.double__column {
    margin-top: 40px;
}
.double__column--header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.double__column h3 {
    margin-left: 12px;
    font-size: 20px;
}
.double__column p {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}
.value__left--column button {
    margin-top: 48px;
}
@media (min-width: 768px) {
    .values__container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .value__left--column {
        text-align: left;
        margin: 0;
        width: 50%;
    }
    .value__left--column h1 {
        font-size: 48px;
        width: 90%;
    }
    .para {
        font-size: 18px;
        margin-top: 32px;
        width: 90%;
    }
    .values__double--column {
        display: flex;
        align-items: start;
        justify-content: start;
        text-align: left;
        margin: 0;
        width: 90%;
    }
    .double__column--header {
        display: flex;
        justify-content: start;
    }
    .double__column--header h3 {

    }
    .double__column {
        margin: 32px 32px 0 0;
    }
    .double__column p {
        margin-top: 16px;
        line-height: 1.625;
    }
    .right__column--values {
        width: 50%;
        margin: 0;
    }
}
/*Pricing*/
.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 96px 0;
}
.pricing__container h1 {
    font-size: 36px;
    color: #243E63;
}
.plans {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    padding: 8px, 32px, 0;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 #a0aec07a;
}
.plan__select {
    height: 9px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.personal__select {
    height: 9px;
    background: linear-gradient(115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%);
}
.plan__header {
    padding: 32px 0;
}
.plan__header h3 {
    height: 100%;
    font-size: 20px;
}
.plan__header h2 {
    font-size: 48px;
    margin: 4px 0;
}
.plan__header p {
    font-size: 16px;
    color: #a0aec0;
}
.plan__info {
    margin: 0 -32px;
    padding: 32px;
    width: 100%;
    border-top: solid 2px #a0aec06b;
    border-bottom: solid 2px #a0aec06b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plan__info h3 {
    font-size: 20px;
}
.plan__info p {
    font-size: 16px;
    color: #718096;
    margin-top: 20px;
}
.plan button {
    margin: 60px 16px;
    border: none;
    padding: 20px 32px;
    width: 80%;
}
#personal {
    background: linear-gradient(115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%);
}
.business__plan {
    background: linear-gradient(135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%);
    color: white;
}
.business__plan--info {
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: rgb(102 126 234);
}
.business__plan--info p {
    color: white;
}
#business {
    background: white;
    color: #6415ff;
}
.enterprise__info {
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: rgb(226, 232, 240);
}
.enterprise__select {
    background: linear-gradient(115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%);
}
#enterprise {
    background: linear-gradient(115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%);
}
@media (min-width: 1024px) {
    .pricing__container h1{
        font-size: 48px;
    }
    .pricing__container .subtitle {
        margin-top: 40px;
    }
    .desc {
        text-align: center;
        font-size: 18px;
        width: 50%;
    }
    .plans {
        flex-direction: row;
        column-gap: 20px;
    }
    .plan {
        width: calc(100%/3);
        margin: 64px 32px 0 0;
    }
    .plan button {
        width: 50%;
    }
}
/*Footer*/
footer {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 607px;
    padding: 80px 32px;
    background-color: rgb(100, 21, 255);
    font-weight: 500;
    margin-left: -32px;
}
.footer_container {
    margin: 0 29px;
}
.links {
    display: flex;
}
.link {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    text-align: center;
}
.link a {
    text-decoration: none;
    cursor: not-allowed;
    color: #f7fafc;
    font-size: 14px;
    padding: 0 0 4px;
    border-bottom: 2px;
    margin-top: 12px;
}
.link h2 {
    margin-bottom: 12px;
    font-size: 16px;
    color: #f7fafc;
    font-weight: 700;
}
.footer__divider {
    margin: 64px 0;
    width: 100%;
    border-bottom: solid 1px #7c8ba17a;
}
.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f7fafc;
    text-align: center;
}
.footer__logo {
    display: flex;
    align-items: center;
}
.footer__logo img {
    height: 32px;
    width: 32px;
}
.footer__logo h2 {
    margin-left: 8px;
    font-size: 20px;
}
.footer__middle {
    font-size: 14px;
    color: #d0d5db;
    margin-top: 32px;
}
.footer__media {
    display: flex;
    margin-top: 32px;
}
.footer__media--link {
    color: black;
    height: 32px;
    width: 32px;
    margin-right: 16px;
    padding: 8px 12px;
    border-radius: 99999px;
    background-color: white;
    display: flex;
    justify-content: center;
}
@media (min-width: 1024px) {
    footer {
        height: 522px;
        padding: 96px 32px;
    }
    .links {
        column-gap: 190px;
    }
    .link {
        text-align: left;
        
    }
    .footer__info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer__middle {
        margin: 0;
    }
    .footer__media {
        margin: 0;
    }
}