@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
}
html {
    scroll-behavior: smooth;
}
.purple {
    color: #6415ff;
}
a {
    text-decoration: none;
}
.no-cursor {
    cursor: not-allowed;
}
button {
    border: solid #6415ff;
    background-color: #6415ff;
    color: white;
    font-size: 14px;
    border-radius: 9999999px;
    padding: 12px 32px;
    margin: 0;
    font-weight: 600;
}
button:hover {
    background-color: #3b0d97;
    border-color: #3b0d97;
    transition: all ease 300ms;
}
.root {
    padding-top: 32px;
    max-width: 100%;
}
.subtitle {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 16px;
}
#landing {
    height: 730px;
}
/*Nav Bar*/
.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
.logo {
    height: 40px;
    margin: 0 12px 0 0;
}
.logo__container {
    display: flex;
    align-items: center;
    padding: 0 0 4px 32px;
}
.logo__container a:hover {
    color: #6415ff;
    transition: all ease 300ms;
}
.logo__text {
    font-size: 24px;
    font-weight: 900;
    color: #243E63;
}
.nav__links {
    display: flex;
    align-items: center;
    font-weight: bold;
    display: none;
}
.nav__link {
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
}
.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
    transition: all ease 200ms;
}
.nav__link--login {
    margin: 0 24px 0 48px;
}
.btn__menu {
    font-size: 24px;
    margin-right: 32px;
}
/*Header*/
header {
    max-height: 730px;
}
.header__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
    margin: 0 auto;
}
.header__desc {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.25;
}
.header__para {
    position: relative;
}
.header__para p {
    width: 100%;
    margin: 32px 0;
    font-size: 18px;
    line-height: 1.25;
}
.email_in {
    width: 85%;
}
.companies {
    margin: 80px 0 0 0;
}
.header__img {
    width: 100%;
    max-width: 768px;
}
input {
    padding-top: 20px;
    padding-right: 192px;
    padding-bottom: 20px;
    padding-left: 32px;
    width: 100%;
    border: solid rgba(0, 0, 0, 0.233);
    border-width: 2px;
    border-radius: 9999px;
    font-weight: 500;
    opacity: 0.5;
    font-size: 100%;
}
input:hover {
    border-color: rgba(0, 0, 0, 0.548);
    transition: all ease 300ms;
}
.btn__start {
    position: absolute;
    font-size: 16px;
    right: 88px;
    bottom: 7px;
}

.companies__img {
    display: flex;
    margin: 16px 0 0;
    padding: 0 128px 0 0;
    opacity: 0.5;
}
.header__left {
    width: 41.6667%;
}
.companies p {
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
}
/*Features*/
#features {
    height: 838px;
}
.features__container {
    padding: 96px 0;
    margin: 0 88px;
}
.features__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__header {
    color: #243E63;
    font-size: 48px;
    font-weight: 900;
}
.desc {
    font-size: 18px;
    color: #7c8ba1;
    margin-top: 16px;
}
.services {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px;
    padding: 32px 8px 0px 8px;
}
.ind__service {
    display: flex;
    width: calc(100%/3);
    padding: 32px 8px;
}
.service__img {
    flex-shrink: 0;
    height: 50%;
    border: 1px gray solid;
    border-radius: 9999px;
    padding: 20px;
    text-align: center;
}
.service__img img {
    width: 24px;
    max-height: 24px;
}
.ind__service--desc {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}
.ind__service--desc h2 {
    font-size: 24px;
    color: #243E63;
}
.ind__service--desc p {
    font-size: 16px;
    color: #7c8ba1;
    margin: 16px 0 0;
}
/*Quality Work*/
#quality {
    height: 626px;
    margin: 0px 29px;
    padding: 96px 0;
}
.quality__container {
    display: flex;
    column-gap: 10%;
}
.left__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    column-gap: 10%;
}
.quality__left--column {
    padding: 32px 0;
}
.left__column h1 {
    font-size: 48px;
    color: #243E63;
    font-weight: 900;
    margin-bottom: 16px;
}
.left__column button {
    margin-top: 32px;
    width: 30%;
}
.right__column{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.right__column img {
    max-width: 100%;
    border: solid 1px rgb(226, 232, 240);
    border-width: 1px;
    border-radius: 4px;
}
/*Steps*/
#steps {
    height: 732px;
}
.steps__container {
    display: flex;
    padding: 96px 0;
}
.ind__step {
    display: flex;
    margin-top: 32px;
}
.step__text {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
.steps__right--column {
    margin-left: 64px;
}
.right__column--content{
    padding: 32px 0;
    display: flex;
    flex-direction: column;
}
.right__column h1 {
    font-size: 48px;
    font-weight: 900;
}
.step__num {
    font-size: 36px;
    color: #cbd5e0;
    font-weight: 600;
}
.step__title {
    font-size: 20px;
    color: #243E63;
    font-weight: 600;
}
.step__inst {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    align-items: flex-start;
    gap: 10%;
}
/*Values*/
#values {
    height: 820px;
}
.values__container {
    display: flex;
    padding: 96px 0;
}
.value__left--column {
    margin-right: 64px;
}
.left__column--content {
    padding: 32px 0;
}
.para {
    margin-top: 16px;
    font-size: 18px;
    color: #7c8ba1;
}
.values__double--column {
    display: flex;
    margin-top: 32px;
}
.values__double--column p {
    font-size: 16px;
    color: #718096;
    margin-top: 16px;
}
.values__double--column h6 {
    font-size: 20px;
    color: #243E63;
    margin-left: 12px;
}
.double__column--left {
    margin-right: 32px;
}
.value__img img {
    border: none;
}
/*Pricing*/
#pricing {
    padding: 96px 0;
    height: 1090px;
}
.pricing {
    height: 100%;
    max-height: 1090px;
}
.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing__container h1 {
    font-size: 48px;
}
div.pricing__container p.desc {
    text-align: center;
    width: 45%;
}
.plans {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.plan {
    width: calc(100%/3);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 64px 32px 0 0;
    padding: 8px, 32px, 0;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 #a0aec07a;
}
.plan__select {
    height: 9px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.personal__select {
    height: 9px;
    background: linear-gradient(115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%);
}
.plan__header {
    padding: 32px 0;
}
.plan__header h3 {
    font-size: 20px;
}
.plan__header h2 {
    font-size: 48px;
    margin: 4px 0;
}
.plan__header p {
    font-size: 16px;
    color: #a0aec0;
}
.plan__info {
    margin: 0 -32px;
    padding: 32px;
    width: 100%;
}
.plan__info h3 {
    font-size: 20px;
}
.plan__info p {
    font-size: 16px;
    color: #718096;
    margin-top: 20px;
}
.plan button {
    margin: 32px 64px;
    border: none;
    padding: 16px 32px;
    height: 100%;
    width: 50%;
}
#personal {
    background: linear-gradient(115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%);
}
.personal__info {
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: rgb(226, 232, 240);
}
.business__plan {
    background: linear-gradient(135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%);
    color: white;
}
.business__plan--info {
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: rgb(102 126 234);
}
.business__plan--info p {
    color: white;
}
#business {
    background: white;
    color: #6415ff;
}
.enterprise__info {
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: rgb(226, 232, 240);
}
.enterprise__select {
    background: linear-gradient(115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%);
}
#enterprise {
    background: linear-gradient(115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%);
}
/*Footer*/
footer {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 522px;
    padding-top: 96px;
    background-color: rgb(100, 21, 255);
    font-weight: 500;
}
.footer_container {
    margin: 0 29px;
}
.links {
    display: flex;
    flex-wrap: wrap;
}
.link {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
}
.link a {
    text-decoration: none;
    cursor: not-allowed;
    color: #f7fafc;
    font-size: 14px;
    padding: 0 0 4px;
    border-bottom: 2px;
    margin-top: 12px;
}
.link h2 {
    margin-bottom: 12px;
    font-size: 16px;
    color: #f7fafc;
    font-weight: 700;
}
.footer__divider {
    margin: 64px 0;
    width: 100%;
    border: solid 1px #7c8ba152;
}
.footer__info {
    display: flex;
    color: #f7fafc;
    justify-content: space-between;
}
.footer_logo {
    display: flex;
    align-items: center;
}
.footer_logo img {
    height: 32px;
    width: 32px;
}
.footer__info h2 {
    font-size: 20px;
    font-weight: 900;
    margin-left: 8px;
}
.footer__middle {
    font-size:16px;
    color: #d0d5db;
    display: flex;align-items: center;
}
.footer__media {
    display: flex;
}
.footer__media--link {
    color: black;
    height: 32px;
    width: 32px;
    margin-right: 16px;
    padding: 8px 12px;
    border-radius: 99999px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__media--link i {
    height: 16px;
    width: 16px;
}
/*Small displays
@media (max-width: 1024px) {
    html {
        overflow: hidden;
    }
    .nav__links {
        display: none;
    }
    .btn__menu {
        display: block;
    }
    .header__container {
        display: flex;
        flex-direction: column;
        height: 961px;
    }
    .header__left {
        width: 70%;
        height: 50%;
        text-align: center;
    }
    .header__desc {
        font-size: 20px;
    }
    .header__img {
        width: 70%;
    }
}